---
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import CajasBodegasItems from "../components/cajasBodegaItems.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxPaking - Cajas para Alimentos</title>
</head>

    <body class="colorFondo">
		<div id=""></div>
		<Header />
        <div class="lg:w-4/5 sm:w-10/12 w-full m-auto pt-10">
            <CajasBodegasItems cajasB ={{title:"CAJAS PARA ALIMENTOS", 
            desc:"Expertos en la producción de cajas como envases secundarios para la industria alimentaria y láctea. Nuestro proceso de fabricación integra tecnología avanzada con la habilidad de nuestro equipo para asegurar la calidad, durabilidad y presentación óptima de su producto.",
            img:"https://m.media-amazon.com/images/I/91yowFBp2tL.jpg"}}/>

            
            <CajasBodegasItems cajasB ={{title:"CAJAS PARA LACTEOS", 
            desc:"Explore nuestra selección de envases lácteos diseñados a medida. Fabricados con calidad superior para garantizar la frescura y protección de sus productos. Confíe en nuestra experiencia para impulsar el éxito de su negocio",
            img:"https://thefoodtech.com/wp-content/uploads/2021/12/envasado.jpg"}}/>

            <CajasBodegasItems cajasB ={{title:"BAG IN BOX PARA ACEITE", 
            desc:"Los Bag in Box protegen el aceite de la luz y la oxidación con películas de alta barrera de oxígeno, conservando sus beneficios y aromas durante meses.",
            img:"https://kartox.com/cdnassets/categories/grid/KARTOX-K040401-CAJAS_PARA_BOTELLAS_DE_ACEITE_l.jpg"}}/>

        </div>


		<Footer/>
			


	</body>
    

</html>