---
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <body class="colorFondo">
		<div id="cajasBodegas"></div>
		<Header />

		<Footer/>
			


	</body>
    

</html>