---
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import CajasBodegasItems from "../components/cajasBodegaItems.astro"
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxPaking - Cajas de bodega</title>
</head>

    <body class="colorFondo">
		<div id="cajasBodegas"></div>
		<Header />
        <div class="lg:w-4/5 sm:w-10/12 w-full m-auto pt-10">
            <CajasBodegasItems cajasB ={{title:"CAJAS PARA BOTELLAS DE VINO", 
            desc:"Empaques y estuches destinados a la industria del vino. Asistencia dedicada a productores, bodegas y prestigiosas vinotecas. Envolturas a medida para cada botella. Contenedores especialmente diseñados para latas y copas.",
            img:"https://kartox.com/cdnassets/categories/grid/KARTOX-K040101-CAJAS_CON_COLMENA_VINO_6_BOTELLAS_l.jpg"}}/>

            <CajasBodegasItems cajasB ={{title:"BAG IN BOX", 
            desc:"Cajas Bag in Box para vinos y diversas bebidas. Disponibles en tamaños de 1, 3 y 5 litros. Estos envases Bag in Box realzan la imagen de tu marca en el mercado, gracias a su destacada calidad de presentación.",
            img:"https://thefoodtech.com/wp-content/uploads/2020/08/bag-in-box-scaled.jpg"}}/>

            <CajasBodegasItems cajasB ={{title:"ESTUCHES PARA BOTELLAS", 
            desc:"Estuches disponibles para 1, 2, 3, 4 y 6 botellas de vino o espumante. Diseños personalizados y desarrollados para adaptarse a las dimensiones y formas exactas de las botellas a contener. Acabados de impresión y superficie de alta calidad, con detalles de post-impresión que realzan la presentación. Ofrecemos variedad de estilos, como cajas de tapa y fondo, aletas mariposa, aletas simples, valijines, estuches individuales para una botella, entre otros.",
            img:"https://http2.mlstatic.com/D_NQ_NP_723186-MLA74394638220_022024-O.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"TRAY PACK", 
            desc:"Una opción adaptable de embalaje para botellas, adecuada para una amplia gama de productos como vinos, aceites, licores y más. Fabricado con cartón corrugado de calidad exportación y cumpliendo con los más altos estándares de impresión offset.",
            img:"https://http2.mlstatic.com/D_NQ_NP_696572-MLA53040754722_122022-O.webp"}}/>
            
        </div>


		<Footer/>
			


	</body>
    

</html>