---
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import CajasBodegasItems from "../components/cajasBodegaItems.astro"
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxPaking - Cajas de bodega</title>
</head>

    <body class="colorFondo">
		<div id="cajasBodegas"></div>
		<Header />
        <div class="lg:w-4/5 sm:w-10/12 w-full m-auto">
            <CajasBodegasItems cajasB ={{title:"CAJAS PARA BODEGAS", 
            desc:"Cajas y estuches para la industria vitivinícola. Atención de productores, bodegas y grandes vinotecas. Cajas a medida de cada botella. Estuches especiales para latas y copas.",
            img:"https://www.packbox.com.ar/images/caja-aletas-mariposa-para-3-botellas-de-vino-blanco-sobre-marron-abierta-con-botellas-catalogo.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"BAG IN BOX", 
            desc:"Estuches Bag in Box para vinos y otras bebidas. Formatos de 1, 3 y 5 litros. Las Cajas Bag in Box aportan valor a tu marca en el mercado, mediante su alta calidad de presentación.",
            img:"https://www.packbox.com.ar/images/familia-de-bag-in-box-de-3-litros-para-vino-catalogo.png"}}/>

            <CajasBodegasItems cajasB ={{title:"TRAY PACK", 
            desc:"Una solución versátil de embalajes para botellas, apto para una amplia variedad de productos como vinos, aceites, licores, y más. Corrugado con calidad de exportación y los más elevados estándares de impresión offset.",
            img:"https://www.packbox.com.ar/images/TRAY-PACK-12-BOTELLAS-DOMAINE-BOUSQUET-ALAVIDA-3.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"CAJAS PARA BOTELLAS", 
            desc:"Cajas verticales para 6 o hasta 12 botellas de vino, espumantes u otras bebidas. Cajas horizontales 3+3, para almacenar 6 botellas. Las Cajas para Botellas son ampliamente utilizadas como medio de presentación de bodegas y champagneras.",
            img:"https://www.packbox.com.ar/images/caja-aletas-simples-3+3-horizontal-para-6-botellas-de-espumante-abierta-con-botellas-catalogo.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"ESTUCHES PARA BOTELLAS", 
            desc:"Estuches para 1, 2, 3, 4 y 6 botellas de vino o espumante. Desarrollos y diseños a medida ajustados a las dimensiones y formas de las botellas a contener. Impresión y terminación superficial de alta calidad con terminaciones post-impresión. Cajas tapa y fondo, aletas mariposa, aletas simples, valijines, estuches para 1 botella, etc.",
            img:"https://www.packbox.com.ar/images/fondo-de-caja-para-6-botellas-de-vino-con-soporte-interior-sin-tapa-con-botellas-web.webp"}}/>

        </div>


		<Footer/>
			


	</body>
    

</html>