---
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import CajasBodegasItems from "../components/cajasBodegaItems.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxPaking - Cajas para Electrodomesticos</title>
</head>

    <body class="colorFondo">
		<div id=""></div>
		<Header />
        <div class="lg:w-4/5 sm:w-10/12 w-full m-auto">
            <CajasBodegasItems cajasB ={{title:"CAJAS PARA ELECTRODOMÉSTICOS", 
            desc:"Fabricadas con cartón corrugado resistente, nuestras cajas son ideales para productos de todos los tamaños. Además, ofrecemos opciones de cajas impresas y personalizadas para resaltar tu marca y diferenciar tus productos en el mercado.",
            img:"https://www.packbox.com.ar/images/familia-de-estuches-para-depiladoras-con-impresion-offset%20600px.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"CAJAS PARA PEQUEÑOS ELECTRODOMÉSTICOS", 
            desc:"Cajas para electrodomésticos, artículos electrónicos y de computación. Adaptación de los estándares FEFCO y ECMA. Desarrollo de interiores y soportes especiales para una excelente protección y presentación del contenido.",
            img:"https://www.packbox.com.ar/images/familia-de-estuches-para-parlantes-bluetooth-con-impresion-offset-background.png"}}/>

            <CajasBodegasItems cajasB ={{title:"CAJAS AUTOARMABLES", 
            desc:"Formato autoarmable, cajas para productos diseñadas a medida para satisfacer las necesidades específicas de tu empresa. Aseguran una protección óptima durante el transporte y almacenamiento. Destaca tu marca y diferencia tu producto del resto con nuestra impresión full color y terminaciones superficiales de alta calidad.",
            img:"https://www.packbox.com.ar/images/caja-aletas-mariposa-gp%20quality.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"ALETAS SIMPLES", 
            desc:"Nuestra caja aleta simple para electrodomésticos, elaborada en robusto cartón corrugado, integra funcionalidad y diseño. Su estructura sólida y diseño atractivo realzan la calidad de los electrodomésticos en el mercado con una presentación única.",
            img:"https://www.packbox.com.ar/images/Caja%20aletas%20simples%20-%20NEWSAN.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"CAJAS PARA HERRAMIENTAS", 
            desc:"Elaboradas con materiales de primera calidad para garantizar resistencia y durabilidad excepcionales. Con terminaciones superficiales que realzan tu marca, son la elección ideal para mantener tus equipos protegidos y listos para su uso.",
            img:"https://www.packbox.com.ar/images/CAJA-CONARCO-CIERRE-GALENO-HANDYARC.webp"}}/>

            
        </div>
		<Footer/>
	</body>
    
</html>