---
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import CajasBodegasItems from "../components/cajasBodegaItems.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxPaking - Cajas para Alimentos</title>
</head>

    <body class="colorFondo">
		<div id=""></div>
		<Header />
        <div class="lg:w-4/5 sm:w-10/12 w-full m-auto">
            <CajasBodegasItems cajasB ={{title:"CAJAS PARA ALIMENTOS", 
            desc:"Especialistas en la fabricación de cajas, como envase secundario, para la industria alimenticia y láctea. Nuestro proceso de fabricación combina tecnología avanzada con personal experto para garantizar la calidad, durabilidad y presentación de su producto.",
            img:"https://www.packbox.com.ar/images/estuche-panettone-web%20600px.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"AUTOARMABLES", 
            desc:"Cajas de cartón corrugado o microcorrugado con impresión offset de alta calidad sobre papel marrón o cartulina. Procuramos llegar a la optimización en cuanto a la practicidad en el armado y a una estética premium para sus diseños. Nuestra tecnología de impresión offset sobre papel marrón resalta detalles nítidos, mientras que la cartulina asegura durabilidad.",
            img:"https://www.packbox.com.ar/images/cafe-san-juan-parada-sanguchera-550x550.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"ALETAS SIMPLES", 
            desc:"Cajas aleta simple para alimentos, confeccionadas en resistente cartón corrugado, combina funcionalidad y estética. Diseñadas para asegurar la integridad de los productos, distinguidas por su impresión offset de alta calidad. Estructura robusta y diseño visualmente agradable.",
            img:"https://www.packbox.com.ar/images/Caja%20x%2060%20hamb%20P%20y%20N-web.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"BAG IN BOX PARA ACEITE", 
            desc:"Los Bag in Box protegen el aceite comestible de la luz y la oxidación gracias a las películas de alta barrera de oxígeno, lo que permite la conservación de sus beneficios nutricionales y aromas durante varios meses.",
            img:"https://www.packbox.com.ar/images/BIB-3LTS-LUYABAJO-500.webp"}}/>

        </div>


		<Footer/>
			


	</body>
    

</html>