---
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import CajasBodegasItems from "../components/cajasBodegaItems.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxPaking - Cajas para Electrodomesticos</title>
</head>

    <body class="colorFondo">
		<div id=""></div>
		<Header />
        <div class="lg:w-4/5 sm:w-10/12 w-full m-auto pt-10">
            <CajasBodegasItems cajasB ={{title:"CAJAS PARA ELECTRODOMÉSTICOS", 
            desc:"Nuestras cajas, fabricadas con cartón corrugado resistente, son perfectas para productos de cualquier tamaño. También ofrecemos opciones impresas y personalizadas para destacar su marca y diferenciar sus productos en el mercado.",
            img:"https://dcdn.mitiendanube.com/stores/002/602/187/products/montaje_licuadora1-59b1a06899a57f849c16873034185283-1024-1024.jpg"}}/>

            <CajasBodegasItems cajasB ={{title:"CAJAS PARA PEQUEÑOS ELECTRODOMÉSTICOS", 
            desc:"Cajas para electrodomésticos, artículos electrónicos y de computación. Adaptación de los estándares FEFCO y ECMA. Desarrollo y soportes especiales para una excelente protección y presentación del contenido.",
            img:"https://assets-global.website-files.com/5c815bebb78f1306dfaabe9a/65cac345b1d291b9cfc5972d_64b18b0ba80c37ffefe57c93_familia-de-estuches-para-parlantes-bluetooth-con-impresion-offset-background-(2).png"}}/>

            <CajasBodegasItems cajasB ={{title:"CAJAS PARA HERRAMIENTAS", 
            desc:"Elaboradas con materiales de primera calidad para garantizar resistencia y durabilidad excepcionales. Con terminaciones superficiales que realzan tu marca, son la elección ideal para mantener tus equipos protegidos y listos para su uso.",
            img:"https://www.fiestafacil.com/content/images/thumbs/0047070_caja-de-herramientas-carton-5-uds_345.png"}}/>

            
        </div>
		<Footer/>
	</body>
    
</html>