---
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import CajasBodegasItems from "../components/cajasBodegaItems.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoxPaking - Cajas para Frigorificos</title>
</head>

    <body class="colorFondo">
		<div id=""></div>
		<Header />
        <div class="lg:w-4/5 sm:w-10/12 w-full m-auto pt-10">
            <CajasBodegasItems cajasB ={{title:"CAJAS PARA FRIGORIFICOS", 
            desc:"Fabricamos una amplia variedad de cajas en distintos formatos, diseñadas para satisfacer las necesidades específicas de tu marca. Estos envases están pensados para su uso tanto en el mercado local como en operaciones de exportación. Su diseño y materiales aseguran una resistencia óptima, permitiendo el almacenamiento, apilado y transporte eficiente de productos cárnicos.",
            img:"https://assets-global.website-files.com/5c815bebb78f1306dfaabe9a/65cac34677942b4e684f7a21_5eb5ab5e9a85f2a03f793b43_caja-de-carton-corrugado-resistente-a-la-humedad-para-corte-de-carne-y-frigorificos-catalogo-(9).jpeg"}}/>


            <CajasBodegasItems cajasB ={{title:"AUTOARMABLES", 
            desc:"Creadas para optimizar la eficiencia en el embalaje y transporte de productos perecederos, estas cajas están fabricadas con materiales de primera calidad que garantizan una preservación óptima en entornos refrigerados.",
            img:"https://img.freepik.com/vector-premium/caja-pizza-envolver-maqueta-empaquetado-comida-rapida-carton-blanco-3d-realista-vista-abierta-cerrada-concepto-vector-esquema-empaque-corte-contenedor_533410-42.jpg?w=2000"}}/>

            <CajasBodegasItems cajasB ={{title:"CAJAS PARA ENFRIADO", 
            desc:"Explora nuestra gama de cajas diseñadas específicamente para resistir las condiciones de humedad en freezers, heladeras y contenedores refrigerados, tanto en la cadena de suministro como en puntos de venta. Estas cajas a medida se ajustan a las necesidades y dimensiones exactas de tu producto alimenticio",
            img:"https://http2.mlstatic.com/D_NQ_NP_709622-MLA51920267823_102022-O.webp"}}/>

            <CajasBodegasItems cajasB ={{title:"ESTUCHES PARA HAMBURGUESAS", 
            desc:"Disponibles en una variedad de dimensiones, estos envases ofrecen conveniencia y son perfectos para resaltar tu marca con impresiones personalizadas. Además, están diseñados para soportar las condiciones de humedad presentes en freezers, heladeras y contenedores refrigerados. Mejora la experiencia del cliente con nuestros estuches premium.",
            img:"https://supermas.cdn1.dattamax.com/userfiles/images/productos/448/97042.png"}}/>

            <CajasBodegasItems cajasB ={{title:"TAPA Y FONDO", 
            desc:"Envolturas telescópicas para una variedad de cortes de carne, disponibles en presentaciones que van desde 5 hasta 25 kilogramos. Estos envases cuentan con fondo y tapa autoensamblables al 100%, siendo ideales para su uso en cámaras frigoríficas y contenedores refrigerados, desempeñando un papel crucial en la logística de la cadena de suministro de carne.",
            img:"https://lh5.googleusercontent.com/proxy/qh9pd5l5C-5n_yaQQjSyCeiuOVQd5vsJ7C8EFUSnkxaKSLjjqXzcS6FtMYv_vE80YAvFbNgR6EnrUvAFNZ1CTBInl9yXY4tY00BTv7weq4KkrJJEcfnIi30Ex0MP-3LCbs-kltWMuKU"}}/>

        </div>


		<Footer/>
			


	</body>
    

</html>