---
import Titulo from "../components/titulos.astro";
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import ItemContacto from "../components/itemContacto.astro";

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <Header/>

    <div class="w-full flex flex-col justify-center items-center my-10">
        <Titulo title={{tit:"CONTACTO"}}/>
        <p class="mt-8 text-center text-lg">Envianos tus consultas y uno de nuestros representantes se pondrá en contacto lo antes posible.</p>     
    </div>


    <div class=" w-4/5 mx-auto lg:grid lg:grid-cols-2 flex flex-col border py-16">
        <div class="p-10">
            <div class="grid grid-cols-2 gap-10">
                <div class="">
                    <ItemContacto itemContacto = {{nombre:"Nombre", a:"nombre"}}/>
                </div>
                <div>
                    <ItemContacto itemContacto = {{nombre:"Apelido", a:"apellido"}}/>
                </div>
            </div>
            <div class="mt-10">
                <ItemContacto itemContacto = {{nombre:"Empresa", a:"empresa"}}/>
            </div>
            <div class="grid grid-cols-2 gap-10 mt-10">
                <div class="">
                    <ItemContacto itemContacto = {{nombre:"Email", a:"email"}}/>
                </div>
                <div>
                    <ItemContacto itemContacto = {{nombre:"Telefono", a:"telefono"}}/>
                </div>
            </div>
            <div class="mt-10">
                <ItemContacto itemContacto = {{nombre:"Ciudad", a:"ciudad"}}/>
            </div>
            <div class="mt-10">
                <ItemContacto itemContacto = {{nombre:"Producto", a:"producto"}}/>
            </div>
        </div>

    </div>












    <Footer/>
   
</body>
</html>