---
import Header from "../Layout/header.astro";
import Inicio1 from "../Layout/inicio1.astro";
import Contacto from "../Layout/seccionContacto.astro";
import Inicio2 from "../Layout/inicio2.astro";
import Footer from "../Layout/footer.astro";

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://images.vexels.com/media/users/3/199820/isolated/preview/892bfdfcb80b356c53405aafbb716513-caja-de-carton-isometrica.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>EcoEmbalaje - INICIO</title>
	</head>
	<body class="colorFondo">
		<div id="home"></div>
		<Header />
		<Inicio1 />
		<Inicio2/>
		<Footer/>
	</body>
</html>

<style>
	.colorFondo {
		background-color: #F3F5FA;
	}
</style>