---
import Header from "../Layout/header.astro";
import Inicio1 from "../Layout/inicio1.astro";
import Contacto from "../Layout/seccionContacto.astro";
import Inicio2 from "../Layout/inicio2.astro";
import Footer from "../Layout/footer.astro";

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="colorFondo">
		<Header />
		<Inicio1 />
		<Contacto/>
		<Inicio2/>
		<Footer/>
			


	</body>
</html>

<style>
	.colorFondo {
		background-color: #F3F5FA;
	}
</style>