---
import Titulo from "../components/titulos.astro";
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import Contacto from "../Layout/seccionContacto.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="https://images.vexels.com/media/users/3/199820/isolated/preview/892bfdfcb80b356c53405aafbb716513-caja-de-carton-isometrica.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoEmbalaje - Presupuesto</title>
</head>
<body>
    <Header/>

    <div class="w-full flex justify-center my-10">
        <Titulo title={{tit:"SOLICITE SU PRESUPUESTO"}}/>
    </div>

    <div class="lg:grid lg:grid-cols-2 flex flex-col w-4/5 mx-auto my-8">
        <div class="flex justify-center items-center font-semibold">
            <p class="text-center text-lg">Cuando solicite una cotización, <br>
                 <u>le recomendamos que proporcione los detalles técnicos esenciales.:</u> Esto nos permitirá ofrecerle una propuesta precisa y personalizada que satisfaga sus necesidades. Su colaboración nos ayudará a agilizar el proceso y garantizar una cotización que se ajuste a sus requisitos. <br>
                 ¡Estamos aquí para proporcionarle la mejor solución posible!</p>
        </div>
        <div class="flex justify-center items-center">
            <img src="https://doctordetusfinanzas.com/wp-content/uploads/2022/05/5de948e75190950b6521421d_presupuesto.jpg" alt="">
        </div>
    </div>

    <Contacto/>


    <!-- INSTRUCCIONES GENERALES -->
    <div class="w-full bg-gradient-to-r from-slate-100 to-white py-10">
        <div class="w-full flex justify-center my-10">
            <Titulo title={{tit:"INSTRUCCIONES GENERALES"}}/>
        </div>
        <div class="lg:grid lg:grid-cols-2 flex flex-col w-4/5 mx-auto">
            <div class="py-5">
                <ol class="list-decimal flex flex-col gap-5">
                    <li class="font-semibold">Tenga en mente lo que precisa:
                        <ul class="list-disc pl-5">
                            <li class="font-normal">Deberá indicarnos: el tipo de envase necesario y sus dimensiones (longitud, anchura y altura). </li>
                            <li class="font-normal">Evalúe el propósito previsto de los envases, ya sea para transporte, almacenamiento o presentación de productos.</li>
                        </ul>
                    </li>
                    <li class="font-semibold">Detalles técnicos:
                        <ul class="list-disc pl-5">
                            <li class="font-normal">Incluya el peso aproximado de los productos que se colocarán en las cajas.</li>
                            <li class="font-normal">Indique cualquier requisito de apilamiento. Mencione condiciones ambientales relevantes, como humedad o temperatura.</li>
                        </ul>
                    </li>
                    <li class="font-semibold">Diseño y personalización:
                        <ul class="list-disc pl-5">
                            <li class="font-normal">indique si requiere impresión personalizada, colores específicos, inclusión del logotipo de tu empresa u otra información de identificación.</li>
                            <li class="font-normal">Detalle cualquier otra característica o detalle adicional necesario, como la presencia de asas, perforaciones o divisiones internas</li>
                        </ul>
                    </li>
                    <li class="font-semibold">Volumen de pedido y plazos:
                        <ul class="list-disc pl-5">
                            <li class="font-normal">Indique la cantidad aproximada de cajas a solicitar y la fecha límite para la entrega</li>
                        </ul>
                    </li>
                    <li class="font-semibold">Trámite de la solicitud de presupuesto:
                        <ul class="list-disc pl-5">
                            <li class="font-normal">Remita todos los detalles mencionados previamente al equipo de ventas o al correo de contacto asignado para la solicitud de cotizaciones.</li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="flex justify-center items-center">
                <img src="https://www.ipp.edu.pe/blog/wp-content/uploads/2021/11/ejemplos-disen%CC%83o-packaging.jpg" class=" duration-300 hover:scale-110 px-10"alt="">
            </div>
        </div>

    </div>


    <!-- REQUISITOS BASICOS -->

    <div class="lg:grid lg:grid-cols-2 flex flex-col w-4/5 mx-auto py-10">
        <div class="py-5">
            <p class="font-bold mb-10 colorTitulo">TAMBIEN SOLICITAREMOS...</p>
            <ol class="list-decimal flex flex-col gap-5">
                <li class="font-semibold">Cantidad mínima requerida:
                    <ul class="list-disc pl-5">
                        <li class="font-normal">Realizamos cotizaciones para cantidades mínimas que parten en las 2000, 3000 unidades o más, dependiendo del tamaño de la caja.</li>                        
                    </ul>
                </li>

                <li class="font-semibold">Contenido, estiba y función de la caja:
                    <ul class="list-disc pl-5">
                        <li class="font-normal">Describa el contenido que se colocará en las cajas y cómo se apilarán.</li>
                        <li class="font-normal">Indique el peso aproximado del contenido.</li>
                        <li class="font-normal">Especifique las funciones de la caja, como transporte, almacenamiento, presentación o marketing.</li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="flex justify-center items-center">
            <img src="https://kingbox.mx/wp-content/uploads/2020/05/dise%C3%B1o-de-caja.jpg" class="px-10 duration-300 hover:scale-110"alt="">
        </div>
    </div>



    <Footer/>
    
</body>
</html>



<style>
    
    .fondoFooter {
        background-color: #324362;
    }

    .colorTitulo {
        color: #304468; 
    }

</style>