---
import Titulo from "../components/titulos.astro";
import Header from "../Layout/header.astro";
import Footer from "../Layout/footer.astro";
import MenuPlegable from "../components/menuPlegable.astro";

---


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="https://images.vexels.com/media/users/3/199820/isolated/preview/892bfdfcb80b356c53405aafbb716513-caja-de-carton-isometrica.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcoEmbalaje - Produccion y Desarrollo</title>
</head>
<body class="">
    <Header/>
    <div class="w-full flex justify-center my-10">
        <Titulo title={{tit:"ESPECIALIZACIÓN"}}/>
    </div>

    <div class="lg:grid lg:grid-cols-2 flex flex-col w-4/5 mx-auto items-center mb-10">
        <div class="flex flex-col justify-center p-5">
            <h2 class="text-2xl font-bold mb-3">Excelencia en tiempo y forma.</h2>
            <p class="text-xl">Nos especializamos en la creación de envases de cartulina integrados con cartón ondulado en diversas configuraciones, lo que nos capacita para brindar soluciones de embalaje robustas y perdurables que satisfacen las demandas específicas de nuestra clientela.</p>
        </div>
        <div>
            <img src="https://indugevi.com/wp-content/uploads/2016/11/carton_paletizar.jpg" alt="">
        </div>
    </div>


    <div class="my-24">
        <MenuPlegable menuPlegable={{
            titPrincipal:"Impresion",
            titSec:"Excelencia en impresión para destacar su marca.",
            text:"La impresión offset se distingue por su calidad superior, proporcionando resultados claros y uniformes en una variedad de materiales, tamaños y diseños. Con una reproducción precisa de detalles y colores, es la opción ideal para proyectos que demandan una presentación profesional y de larga duración.",
            img1:"https://www.mktgroup.com.ar/assets/images/Pre-impresion.jpg",
            img2:"https://www.sabatebarcelona.com/wp-content/uploads/2021/03/impresion-en-rigidos-carton.jpg",
            img3:"https://content.click2printsolutions.com/editor/file-4cedb.png"}}/>

        <MenuPlegable menuPlegable={{
            titPrincipal:"Barnizado",
            titSec:"Seguridad para el revestimiento de tu embalaje.",
            text:"El barniz aplicado a cajas con impresión offset realza la calidad y la estética, proporcionando una capa protectora que aumenta la durabilidad y mejora la presentación. Disponible en acabados brillantes o mates, añade un toque profesional distintivo que resalta la imagen de su marca.",
            img1:"https://www.packbox.com.ar/images/barniz-bodegas-lopez.webp",
            img2:"https://http2.mlstatic.com/D_NQ_NP_609623-MPE69509898198_052023-O.webp",
            img3:"https://http2.mlstatic.com/D_NQ_NP_734138-MLA46885291099_072021-O.webp"}}/>

        <MenuPlegable menuPlegable={{
            titPrincipal:"Laca UV",
            titSec:"Brillo y protección que potencian el diseño de tu packaging.",
            text:"Utilizar Laca UV mediante serigrafía brinda un acabado de primera calidad y gran resistencia, otorgando una apariencia brillante y duradera que realza la presentación del producto. Esta técnica, ya sea aplicada de forma completa o sectorizada, permite resaltar detalles precisos y añadir un toque de sofisticación.",
            img1:"https://www.pymedia.com.ar/wp-content/uploads/2023/03/laca-uv.jpg",
            img2:"https://http2.mlstatic.com/D_NQ_NP_979481-MLA73519668934_122023-O.webp",
            img3:"https://norcastamping.com.ar/wp-content/uploads/2020/09/lacauv_04.jpg"}}/>

        <MenuPlegable menuPlegable={{
            titPrincipal:"Laminado OPP",
            titSec:"Mayor protección contra la humedad.",
            text:"El revestimiento de laminado OPP en caliente ofrece una capa protectora que fortalece la resistencia, protege contra la humedad y mejora la durabilidad de las cajas. Este método proporciona un acabado reluciente o mate que realza los diseños y colores, garantizando una presencia de marca impresionante.",
            img2:"https://dcassetcdn.com/design_img/1882963/561859/561859_10227125_1882963_4a19cd2b_image.jpg",
            img3:"https://http2.mlstatic.com/D_NQ_NP_991345-MLA31900031372_082019-O.webp"}}/>
    </div>


    <!-- seccion 'COMPROMETIDOS CON LA CALIDAD' -->

    <div class="w-full flex justify-center my-10">
        <Titulo title={{tit:"COMPROMETIDOS CON LA CALIDAD"}}/>
    </div>

    <div class="lg:grid lg:grid-cols-2 flex flex-col justify-center items-center w-4/5 mx-auto">
        <div class="flex flex-col gap-5 mx-auto">
            <h6 class="font-bold ">Nos comprometemos a asegurar resultados exactos y consistentes en cada proyecto. Tanto si necesita envases personalizados como productos estándar, puede confiar en nuestra pericia para obtener los resultados óptimos.
            </h6>
            <p>En nuestro departamento técnico, nos concentramos constantemente en impulsar mejoras continuas para garantizar que nuestros productos cumplan y superen los estándares más exigentes de calidad. Nos enorgullece proporcionar a nuestros clientes un servicio de impresión de alta calidad que está respaldado por tecnologías de vanguardia y software de medición de color Xrite. Asimismo, nos comprometemos a seguir rigurosos flujos de trabajo de clase mundial, cumpliendo con la norma ISO 12647-7 ContractProof Media Wedge, para asegurar resultados sobresalientes en cada proyecto.</p>
        </div>
        <div class="">
            <img class="mx-auto" src="https://www.packbox.com.ar/images/pantoneras-500.webp" alt="">
        </div>
    </div>

     <!-- seccion 'FLUJO DE TRABAJO' -->

    <div class="w-4/5 mx-auto flex flex-col justify-center my-3">
        <div class="flex justify-center mb-5">
            <Titulo title={{tit:"FLUJO DE TRABAJO"}}/>
        </div>
        <p class="text-center">A continuación, te contamos los pasos que seguimos para desarrollar tu packaging a medida con la más alta calidad de impresión y resistencia de material.</p>
    </div>

    <div class=" w-4/5 mx-auto grid grid-cols-3 gap-2 justify-center mb-10">
        <div class="col-span-3 mx-auto"><img class="w-screen px-10 " src="https://www.packbox.com.ar/images/GRAF%20horizontal.webp" alt=""></div>
        <div class="col-span-1">
            <div class="flex flex-col mx-auto">
                <h6 class="font-bold  pl-5 mb-4">COTIZACIÓN</h6>
                <ul class="list-disc  pl-5">
                    <li>Análisis del producto</li>
                    <li>Boceto inicial en plano + 3D</li>
                    <li>Cotizacion</li>
                    <li>Registro de cliente y establecimiento de términos comerciales</li>
                    <li>Creación de factura preliminar</li>
                    <li>Facturación y liquidación</li>
                </ul>
            </div>
        </div>
        <div class="col-span-1 ">
            <div class="flex flex-col mx-auto">
                <h6 class="font-bold pl-5 mb-4">CREACION</h6>
                <ul class="list-disc pl-5 ">
                    <li>Diseño de planos</li>
                    <li>Producción de maquetas físicas a escala</li>
                    <li>Validación de maquetas</li>
                    <li>Aplicación de diseño final en planos</li>
                    <li>Revisión y aprobación de vistas de impresión</li>                    
                </ul>
            </div>
        </div>
        <div class="col-span-1 ">
            <div class="flex flex-col mx-auto">
                <h6 class="font-bold  mb-4">PRODUCCIÓN, DESPACHO Y SEGUIMIENTO</h6>
                <ul class="list-disc  pl-5">
                    <li>Comienzo de la producción</li>
                    <li>Envío al cliente o almacenamiento para preparación de pedidos</li>
                    <li>Notificación de finalización de la producción con informe adjunto</li>
                    <li>Inspección de calidad</li>
                    <li>Implementación del protocolo de seguimiento</li>
                </ul>
            </div>
        </div>
    </div>



    <Footer/>
</body>
</html>


<style>
	.colorFondo {
		background-color: #F3F5FA;
	}
</style>

