---
const {cajasB: {title, desc, img}} = Astro.props;
---

<div class="lg:w-4/5 sm:w-10/12 w-full mx-auto my-1 sm:grid sm:grid-cols-2 flex flex-col p-1 items-center">
    <div class="flex flex-col ">
        <h1 class="lg:text-4xl sm:text-2xl text-xl font-bold text-cyan-800 text-start mb-4">{title}</h1>
        <p class ="lg:text-lg text-base text-start">{desc}</p>
    </div>
    <div class="flex justify-center sm:mb-4">
        <img class="transition-transform duration-300 transform hover:scale-110 lg:h-96 sm:h-52 h-24" src={img} alt="">
    </div>
    
</div>