---
const {itemContacto: {nombre, a}} = Astro.props;
---

<div class="flex flex-col gap-2">
    <label for={a}>{nombre}</label>
    <input name={a} id={a} class="border border-blue-800 rounded-xl h-8 w-auto p-2" type="text">
</div>