---
const {itemContacto2: {img, title,text}} = Astro.props
---

<div class="grid grid-cols-4 w-4/5 mx-auto my-5">
    <div class="flex pr-5 items-center">
        <img class="h-16" src={img} alt="">
    </div>
    <div class="col-span-3">
        <h5 class="text-2xl font-bold text-blue-900">{title}</h5>
        <p class="text-lg">{text}</p>
    </div>
</div>
<hr>