---
const {
    post: {tit, desc, img},
    } = Astro.props;
---

<div class="flex lg:flex-row flex-col-reverse items-center gap-24 w-full lg:py-24 sm:py-10 py-2 lg:px-36 sm:px-2 px-2 h-4/5 mx-auto">
    <div class="lg:w-1/2 sm:w-2/3 w-4/5 text-center">
        <h2 class="lg:text-3xl text-xl font-bold mb-5">{tit}</h2>
        <p class="mb-5 mx-auto text-lg w-2/3">{desc}</p>
        <button class="border rounded-lg bg-blue-600 text-slate-200 px-3 py-2">Ver más</button>
    </div>
    <div class="flex justify-center mx-auto lg:w-1/2 w-3/4 lg:pt-0 pt-24">
        <img src={img} class="lg:h-96 h-56 transition-transform duration-300 transform hover:scale-125" alt="">
    </div>

</div>


