---
const {tarjeta: {img, title, desc}} = Astro.props;

---

<div class="flex flex-col w-80 h-max mx-auto mt-10 mb-48 pb-6 px-8">
    <div class="h-3/5 mx-auto justify-center">
        <img src={img} class="h-72 " alt="">
    </div>
    <div class="text-center">
        <h4 class="font-bold text-2xl">{title}</h4>
        <p class="text-lg mb-4">{desc} </p>
        <button class="border rounded-lg bg-blue-600 text-slate-200 px-3 py-2">Ver Mas</button>
    </div>


</div>


