---
import Titulo from "../components/titulos.astro";
---


<div class="py-12">
    <div class="grid grid-cols-3 w-4/5 mx-auto justify-items-center">
        <div class="">
            <h3 class=""><Titulo title={{tit:"BOX PAKING"}}/></h3>
            <p class="text-cyan-900 mt-3"><strong>Whatsapp:</strong> 0342-155544466</p>
            <p class="text-cyan-900"><strong>Email:</strong> holabuendia@hotmail.com</p>
            <p class="text-cyan-900"><strong>Direccion:</strong> Av. Siempre Viva 1234</p>
            <div class="py-5 flex gap-3">
                <img class="h-8" src="https://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg" alt="">
                <img class="h-8" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png" alt="">
                <img class="h-8" src="https://www.nccomponenti.it/wp-content/uploads/kisspng-linkedin-logo-computer-icons-business-symbol-linkedin-icon-5ab1765660baa8.1191823015215796063962-300x300.png" alt="">
            </div>
        </div>
        <div>
            <h4 class="text-xl colorsubTitulo font-bold">Acerca de nosotros</h4>
            <div class="flex flex-col gap-1">
                <p class="text-cyan-900 mt-3"><a href="#">Home</a></p>
                <p class="text-cyan-900"><a href="#">Quienes somos</a></p>
                <p class="text-cyan-900"><a href="#">Produccion y desarrollo</a></p>
            </div>
        </div>
        <div>
            <h4 class="text-xl colorsubTitulo font-bold">Productos</h4>
            <div class="flex flex-col gap-1">
                <p class="text-cyan-900 mt-3"><a href="#">Cajas para bodegas</a></p>
                <p class="text-cyan-900"><a href="#">Cajas para Frigorificos</a></p>
                <p class="text-cyan-900"><a href="#">Cajas para Alimentos</a></p>
                <p class="text-cyan-900"><a href="#">Cajas para Agroquímicos</a></p>
                <p class="text-cyan-900"><a href="#">Cajas para Electrodomésticos</a></p>
            </div>
        </div>
    </div>
</div>
<div class="w-full border py-5 pl-10 fondoFooter">
    <p class="text-slate-200">
        © Copyright box PaKING. Todos los derechos reservados
    </p>
</div>

<style>
    .colorsubTitulo {
        color: #304468; 
    }

    .fondoFooter {
        background-color: #324362; 
    }
</style>