---

  
---

<header>
    <div class="fondoHeader w-full h-24 border border-zinc-800 border-spacing-2">
        <div class="flex h-full w-full justify-between">
            <div class="flex justify-center items-center  w-1/3 h-auto">
                <div class=" flex flex-row transition-transform duration-300 transform hover:scale-125 gap-5">
                    <h1 class="font-bold my-auto text-xl text-slate-100 cursor-pointer">Box PaKing</h1>
                    <img src="https://svgsilh.com/svg/42185.svg" class="h-20 w-20 my-auto text-amber-400" alt="">
                </div>
            </div>
            <div class=" h-full w-2/3 lg:flex hidden">
                <ul class="flex h-full w-full items-center gap-8 justify-evenly">
                    <li class="font-bold text-slate-300 hover:text-amber-500 focus:text-amber-700 text-xl"><a href="/" >Home</a></li>
                    <li class="relative flex gap-2" id="productosDropdown">
                        <p class="cursor-pointer font-bold text-slate-300 hover:text-amber-500 focus:text-amber-700 text-xl">Productos</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hover:pointer transition-transform duration-300 hover:scale-110 text-slate-300 my-auto">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                          
                        <div class="absolute left-1/2 transform -translate-x-1/2 mt-10 bg-white border border-gray-200 rounded-sm shadow-md w-48 p-3 gap-10 hidden transition-opacity duration-500">
                            <!-- Contenido del dropdown -->
                            <a href="cajasBodegas" class="block text-cyan-700 text-sm mb-2 hover:bg-gray-200">Cajas para Bodegas</a>
                            <a href="#" class="block text-cyan-700 text-sm mb-2 hover:bg-gray-200">Cajas para Frigorificos</a>
                            <a href="#" class="block text-cyan-700 text-sm mb-2 hover:bg-gray-200">Cajas para Alimentos</a>
                            <a href="#" class="block text-cyan-700 text-sm mb-2 hover:bg-gray-200">Cajas para Agroquimicos</a>
                            <a href="#" class="block text-cyan-700 text-sm mb-2 hover:bg-gray-200">Cajas para Electrodomesticos</a>
                        </div>
                    </li>
                    <li class=""><a href="" class="hover:text-amber-500 focus:text-amber-700 font-bold text-slate-300 text-xl">Produccion y desarrollo</a></li>
                    <li class=""><a href="" class="hover:text-amber-500 focus:text-amber-700 font-bold text-slate-300 text-xl">Presupuesto</a> </li>
                    <li class=""><a href="" class="hover:text-black focus:text-amber-700 font-bold text-slate-300 text-xl border-4 border-cyan-400 rounded-3xl hover:bg-cyan-500 p-3"> Contacto</li></a>
                </ul>
            </div>


            <!-- menu responsive -->
            <div class="lg:hidden flex mr-5 my-3">
                <button id="boton" class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-10 h-10 text-slate-100 hover:cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>


                <div id="menu-responsive" class="hidden justify-center items-center flex-col w-64 right-0 z-50 top-36 rounded-lg fixed shadow-2xl bg-slate-50">
                    <div id="boton-cerrar-menu" class="absolute top-3 right-3 hover:cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-slot="icon" class="w-6 h-6 text-black relative ">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </div>
                    <div class="mt-10 ">
                        <ul class="flex flex-col gap-5 justify-cente items-center mb-10 ">
                            <li><a href="#" class="font-bold text-cyan-900 text-xl">Home</a></li>
                            <li><a href="#" class="font-bold text-cyan-900 text-xl">Productos</a></li>
                            <li><a href="#" class="font-bold text-cyan-900 text-xl">Produccion y desarrollo</a></li>
                            <li><a href="#" class="font-bold text-cyan-900 text-xl">Presupuesto</a></li>
                            <li><a href="#" class="font-bold text-cyan-900 text-xl">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>

<style>
    .fondoHeader {
        background-color: #324362;
    }

</style>


<script>

const dropDown = document.getElementById("productosDropdown")
const clasesDropDown = dropDown.querySelector(".absolute");

const mostrarDrop = ()=> {
    clasesDropDown.classList.remove("hidden");
    clasesDropDown.classList.add("block");
    clasesDropDown.classList.add("");
}

const ocultarDrop = ()=>{
    clasesDropDown.classList.add("hidden");
    clasesDropDown.classList.remove("block");
    clasesDropDown.classList.remove("")
}

const toggleDrop = () => {
        clasesDropDown.classList.toggle("hidden");
        clasesDropDown.classList.toggle("block");
        //clasesDropDown.classList.toggle("");
};

    dropDown.addEventListener("click", (event)=>{
        //event.preventDefault();
        toggleDrop();

    });



    const boton = document.querySelector("#boton");
const menuResponsive = document.querySelector("#menu-responsive");
const cerrarMenu = document.querySelector("#boton-cerrar-menu");

const menuLinks = document.querySelectorAll('#menu-responsive div ul li a[href^="#"]');



boton.addEventListener("click",()=>{
    menuResponsive.classList.toggle("flex");
    menuResponsive.classList.toggle("hidden");


})

cerrarMenu.addEventListener("click",()=>{
    menuResponsive.classList.toggle("hidden");
    menuResponsive.classList.toggle("flex");
})

menuLinks.forEach(menulink =>{
    menulink.addEventListener("click",function(){
    menuResponsive.classList.toggle("hidden");
    menuResponsive.classList.toggle("flex");
    })
})



</script>