---
import Titulo from "../components/titulos.astro";
---


<div class="text-center my-10">
    <Titulo title={{tit:"PORTFOLIO"}}/>
</div>
<p class="w-3/5 mx-auto text-center text-lg">Envases de cartón corrugado diseñados con tecnología de vanguardia para soluciones personalizadas que satisfagan tus necesidades. ¡Descubre nuestra distinguida selección y experimenta la innovación de Packing box!
</p>