---
import Titulo from "../components/titulos.astro";
import Tarjetas from "../components/tarjetaProd.astro";

---

<div class="bg-slate-100">

    <div class="text-center py-10">
        <Titulo title={{tit:"PORTFOLIO"}}/>
    </div>
    <p class="w-3/5 mx-auto text-center text-lg">¡Descubre la excelencia de nuestros envases de cartón corrugado, diseñados con la más avanzada tecnología para satisfacer tus necesidades específicas! En Eco-Embalaje, te ofrecemos una selección exclusiva de soluciones personalizadas que destacan por su innovación y calidad. ¡Sumérgete en nuestra distinguida gama de productos y experimenta la verdadera revolución en embalaje!
    </p>
        <div class="swiper2 w-2/3 mx-auto ">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-1 slide-item img-1">
                    <Tarjetas tarjeta = {{
                        img: "https://herediapack.com.ar/wp-content/uploads/2022/05/066.hp-removebg-preview.webp",
                        title:"Parasoles Publicitarios",
                        desc: "Fabricados con cartón corrugado o microcorrugado, ofrecemos impresiones de alta calidad. Contamos con medidas estándar, diseños de doble faz y laminados disponibles.",
                        link:""}}/>
                </div>
                <div class="swiper-slide slide-2 slide-item img-2">
                    <Tarjetas tarjeta = {{
                        img: "https://www.corrugadoracentro.com.ar/frontend/images/productos/category-10.png",
                        title:"Cajas para electrodomesticos",
                        desc: "Nuestras cajas, fabricadas con cartón corrugado resistente, son perfectas para productos de cualquier tamaño.",
                        link:"/cajasElectrodomesticos"}}/>
                </div>
                <div class="swiper-slide slide-2 slide-item img-2">
                    <Tarjetas tarjeta = {{
                        img: "https://www.corrugadoracentro.com.ar/frontend/images/productos/category-11.png",
                        title:"Cajas para frigorificos y lacteos",
                        desc: "Cajas llamativas destinadas a portar la marca de su empresa",
                        link: "cajasFrigorificos"}}/>
                </div>
                <div class="swiper-slide slide-2 slide-item img-2">
                    <Tarjetas tarjeta = {{
                        img: "https://www.terapackaging.com/wp-content/uploads/2020/06/cajas_personalizadas.png",
                        title:"Cajas alimenticias",
                        desc: "Expertos en la producción de cajas como envases secundarios para la industria alimentaria y láctea",
                        link:"cajasFrigorificos"}}/>
                </div>
            </div>
            <div class="swiper-pagination"></div>

        </div>
</div>


<!-- Importa el CSS de Swiper.js -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Importa el JS de Swiper.js y inicializa el slider -->
<script is:inline src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper (".swiper2", {
	direction: "horizontal",
    loop: true,

    pagination: {
        el: ".swiper-pagination",
        clickable: true
    },
    autoplay: {
        delay: 3000
    },
    speed:1200,
    // Cambia el efecto de transición a "cube" o "coverflow"
    effect: 'cube',
    cubeEffect:{
        shadow:false,
    },

});
</script>