---
import Titulo from "../components/titulos.astro";
import Tarjetas from "../components/tarjetaProd.astro";
---


<div class="text-center my-10">
    <Titulo title={{tit:"PORTFOLIO"}}/>
</div>
<p class="w-3/5 mx-auto text-center text-lg">Envases de cartón corrugado diseñados con tecnología de vanguardia para soluciones personalizadas que satisfagan tus necesidades. ¡Descubre nuestra distinguida selección y experimenta la innovación de Packing box!
</p>

<div class="flex">
    <Tarjetas tarjeta = {{
        img: "https://www.packbox.com.ar/images/parasol-offset.webp",
        title:"Parasoles Publicitarios",
        desc: "Parasoles personalizados para llevar publicidad a donde quiera que vayas!"}}/>

    <Tarjetas tarjeta = {{
        img: "https://www.packbox.com.ar/images/bag-in-box-3lts-impresion-offset-con-hot-stamping.webp",
        title:"Bag in Box",
        desc: "Cajas para cualquier tipo de producto de la mejor calidad y al menor costo"}}/>
</div>