---
import Titulo from "../components/titulos.astro";
import Tarjetas from "../components/tarjetaProd.astro";

---

<div class="bg-slate-100">

    <div class="text-center py-10">
        <Titulo title={{tit:"PORTFOLIO"}}/>
    </div>
    <p class="w-3/5 mx-auto text-center text-lg">¡Descubre la excelencia de nuestros envases de cartón corrugado, diseñados con la más avanzada tecnología para satisfacer tus necesidades específicas! En Eco-Embalaje, te ofrecemos una selección exclusiva de soluciones personalizadas que destacan por su innovación y calidad. ¡Sumérgete en nuestra distinguida gama de productos y experimenta la verdadera revolución en embalaje!
    </p>
        <div class="swiper2 w-2/3 mx-auto ">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide-1 slide-item img-1">
                    <Tarjetas tarjeta = {{
                        img: "https://herediapack.com.ar/wp-content/uploads/2022/05/066.hp-removebg-preview.webp",
                        title:"Parasoles Publicitarios",
                        desc: "Fabricados con cartón corrugado o microcorrugado, ofrecemos impresiones de alta calidad. Contamos con medidas estándar, diseños de doble faz y laminados disponibles."}}/>
                </div>
                <div class="swiper-slide slide-2 slide-item img-2">
                    <Tarjetas tarjeta = {{
                        img: "https://www.packbox.com.ar/images/familia-de-estuches-para-depiladoras-con-impresion-offset%20600px.webp",
                        title:"Cajas para electrodomesticos",
                        desc: "Fabricadas con cartón corrugado resistente, nuestras cajas son ideales para productos de todos los tamaños."}}/>
                </div>
                <div class="swiper-slide slide-2 slide-item img-2">
                    <Tarjetas tarjeta = {{
                        img: "https://www.packbox.com.ar/images/caja-tapa-frigorifico-offset.webp",
                        title:"Cajas para frigorificos",
                        desc: "Cajas llamativas destinadas a portar la marca de su empresa"}}/>
                </div>
                <div class="swiper-slide slide-2 slide-item img-2">
                    <Tarjetas tarjeta = {{
                        img: "https://www.packbox.com.ar/images/caja-electro-visuar-pava-negra.webp",
                        title:"Cajas electrodomesticos",
                        desc: "Caja para cualquier producto que usted comercialise"}}/>
                </div>
            </div>
            <div class="swiper-pagination"></div>

        </div>
</div>


<!-- Importa el CSS de Swiper.js -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Importa el JS de Swiper.js y inicializa el slider -->
<script is:inline src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper (".swiper2", {
	direction: "horizontal",
    loop: true,

    pagination: {
        el: ".swiper-pagination",
        clickable: true
    },
    autoplay: {
        delay: 3000
    },
    speed:1200,
    // Cambia el efecto de transición a "cube" o "coverflow"
    effect: 'cube',
    cubeEffect:{
        shadow:false,
    },

});
</script>