---
import Titulo from "../components/titulos.astro";
import Tarjetas from "../components/tarjetaProd.astro";


---


<div class="text-center my-10">
    <Titulo title={{tit:"PORTFOLIO"}}/>
</div>
<p class="w-3/5 mx-auto text-center text-lg">Envases de cartón corrugado diseñados con tecnología de vanguardia para soluciones personalizadas que satisfagan tus necesidades. ¡Descubre nuestra distinguida selección y experimenta la innovación de Packing box!
</p>


    <div class="swiper w-2/3 mx-auto ">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-1 slide-item img-1">
                <Tarjetas tarjeta = {{
                    img: "https://www.packbox.com.ar/images/parasol-offset.webp",
                    title:"Parasoles Publicitarios",
                    desc: "Parasoles personalizados para llevar publicidad a donde quiera que vayas!"}}/>
            </div>
            <div class="swiper-slide slide-2 slide-item img-2">
                <Tarjetas tarjeta = {{
                    img: "https://www.packbox.com.ar/images/bag-in-box-3lts-impresion-offset-con-hot-stamping.webp",
                    title:"Bag in Box",
                    desc: "Cajas para cualquier tipo de producto de la mejor calidad y al menor costo"}}/>
            </div>
            <div class="swiper-slide slide-2 slide-item img-2">
                <Tarjetas tarjeta = {{
                    img: "https://www.packbox.com.ar/images/caja-tapa-frigorifico-offset.webp",
                    title:"Cajas para frigorificos",
                    desc: "Cajas llamativas destinadas a portar la marca de su empresa"}}/>
            </div>
            <div class="swiper-slide slide-2 slide-item img-2">
                <Tarjetas tarjeta = {{
                    img: "https://www.packbox.com.ar/images/caja-electro-visuar-pava-negra.webp",
                    title:"Cajas electrodomesticos",
                    desc: "Caja para cualquier producto que usted comercialise"}}/>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>


<!-- Importa el CSS de Swiper.js -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Importa el JS de Swiper.js y inicializa el slider -->
<script is:inline src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper (".swiper", {
	direction:"horizontal",
    loop: true,
    navigation:{
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
    },
	autoplay: {
		delay:3000
	}
});
</script>