---
import Productos1 from "../components/productos1.astro"

---


<div class="w-1/3 mx-auto mt-8 border text-center p-5">
    <h1 class="text-4xl font-semibold text-cyan-900">POTENCIAMOS TUS PRODUCTOS
        CON NUESTRAS CAJAS OFFSET</h1>
</div>
<div class="w-1/2 mx-auto mt-8 border text-center mb-10">
    <p class=" mt-5 font-bold text-xl">
        Diseñamos cajas a medida para bodegas, frigoríficos, agroquímicos, electrodomésticos, entre otros.
    </p>
</div>


            <Productos1 post={{tit: "Parasoles Publicitarios",
            desc: "Realizados en Cartón corrugado o microcorrugado con impresión de alta calidad. Medidas estándar, diseños doble faz, laminados.",
            img: "https://www.packbox.com.ar/images/Parasol-4-web-550x550.webp"}}/>

            <Productos1 post={{tit: "Estuches Bag in Box",
            desc: "Descubre nuestros Bag in Box de cartón microcorrugado de alta calidad. Almacena, transporta y dosifica vino, gin o aceites de oliva, con el mismo empaque. Terminaciones premium y diseño funcional.",
            img: "https://www.packbox.com.ar/images/bib-3lts-bianchi-los-primos-800x800.webp"}}/>

            <Productos1 post={{tit: "Bag in Box para Químicos",
            desc: "Soluciones premium para agroquímicos: Estuches Bag in Box, cajas a medida para bidones y botellas. Impresión OFFSET para realzar tu marca y almacenaje óptimo para tu producto.",
            img: "https://www.packbox.com.ar/images/BIB-20LTS-BRAEM-FFO2-550x550.webp"}}/>

            <Productos1 post={{tit: "Cajas para Botellas Acostadas",
            desc: "¡Destaca en el mercado con presentaciones premium para tus bebidas! Diseños a medida, según disposiciones y modelos de botellas, para un empaque que se ajuste a tus requerimientos.",
            img: "https://www.packbox.com.ar/images/aleta-mariposa-bodegas-lopez%20550x550.webp"}}/>

            <Productos1 post={{tit: "Cajas para Frigoríficos",
            desc: "Aumentá la calidad de sus presentaciones con estuches, tanto para mercado interno como para exportaciones. Alta resistencia a la humedad y a la estiba.",
            img: "https://www.packbox.com.ar/images/frigorifico-devesa-tapa-550x550.webp"}}/>

