---
import Productos1 from "../components/productos1.astro";
import Marcas from "../components/marcas.astro";
import Titulo from "../components/titulos.astro";



---


<div class="lg:w-1/3 w-2/3 mx-auto mt-8 text-center p-5">
    <h1 class="lg:text-4xl text-2xl font-semibold text-cyan-900">POTENCIAMOS TUS PRODUCTOS Y SERVICIOS CON NUESTRAS CAJAS OFFSET DE ALTA CALIDAD</h1>
</div>
<div class="lg:w-1/2 w-2/3 mx-auto mt-8 text-center mb-10">
    <p class=" mt-5 lg:font-bold font-semibold lg:text-xl text-lg">
        Desarrollamos envases personalizados para bodegas, frigoríficos, agroquímicos, electrodomésticos y más sectores industriales.
    </p>
</div>

<div class="swiper-container lg:w-4/5 w-10/12 mx-auto overflow-hidden">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-1 slide-item img-1">
            <Productos1 post = {{
                img: "https://herediapack.com.ar/wp-content/uploads/2022/05/066.hp-removebg-preview.webp",
                tit:"Tu marca en tus parasoles",
                desc: "Fabricados con cartón corrugado o microcorrugado, ofrecemos impresiones de alta calidad. Contamos con medidas estándar, diseños de doble faz y laminados disponibles."}}/>
        </div>
        <div class="swiper-slide slide-2 slide-item img-2">
            <Productos1 post = {{
                img: "https://dcdn.mitiendanube.com/stores/001/572/455/products/bib-la-azul-i-f8ee4d2723485eaac417030282235081-640-0.png",
                tit:"Bag in Box",
                desc: "Explora nuestra gama de Bag in Box elaborados con cartón microcorrugado de primera calidad. Perfectos para almacenar, transportar y dosificar vino, gin o aceites de oliva con un único envase. Ofrecemos acabados premium y un diseño funcional excepcional"}}/>
        </div>
        <div class="swiper-slide slide-3 slide-item img-3">
            <Productos1 post = {{
                img: "https://hinojosagroup.com/wp-content/uploads/2022/05/Akcoat-packaging-hinojosa-scaled.jpg",
                tit:"Bag in Box para Químicos",
                desc: "Ofrecemos soluciones premium para la industria de agroquímicos: estuches Bag in Box, cajas personalizadas para bidones y botellas. Utilizamos impresión OFFSET para resaltar tu marca y garantizar un almacenaje óptimo para tus productos."}}/>
        </div>
        <div class="swiper-slide slide-4 slide-item img-4">
            <Productos1 post = {{
                img: "https://www.microcorr.com.ar/images/acostada.png",
                tit:"Cajas para Botellas Acostadas",
                desc: "Mejore la calidad de sus presentaciones con estuches diseñados tanto para el mercado interno como para exportaciones. Ofrecen una alta resistencia a la humedad y a la estiba, garantizando la protección de sus productos en todo momento"}}/>
        </div>
    </div>
    <div class="swiper-pagination"></div>

</div>


<div class="w-3/5 mx-auto mb-5">
    <p class="text-center text-lg">
        Nuestra gama de productos encarna la fusión ideal entre innovación, excelencia y practicidad. Cada envase es concebido y elaborado con esmero, empleando tecnología de vanguardia para asegurar una durabilidad excepcional y un acabado estéticamente impecable
    </p>
</div>

<div class="flex flex-wrap lg:gap-10 max-w-full w-4/5 mx-auto my-10 items-center justify-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Quilmes_Logo.svg/320px-Quilmes_Logo.svg.png" class="transition-transform duration-300 transform hover:scale-125 h-10" alt="">
    <Marcas logo={{img:"https://iconape.com/wp-content/png_logo_vector/musimundo-logo.png"}}/>
    <Marcas logo={{img:"https://cdn.worldvectorlogo.com/logos/mercadolibre.svg"}}/>
    <Marcas logo={{img:"https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Arcor_logo.svg/1200px-Arcor_logo.svg.png"}}/>
    <Marcas logo={{img:"https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Tenaris_Logo.svg/2560px-Tenaris_Logo.svg.png"}}/>
    <Marcas logo={{img:"https://i.pinimg.com/236x/e9/8c/0a/e98c0a1049e99c9e4ef73ee41cf714a4.jpg"}}/>
</div>

<!-- SEPARADOR 1 -->
<div style="overflow: hidden;">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
      style="fill: #339194; width: 125%; height: 100px;"
    >
      <path d="M1200 120L0 16.48V0h1200v120z" />
    </svg>
  </div>

  <!-- QUIENES SOMOS -->
<div id="about" class="bg-slate-100 lg:py-10 py-5 flex flex-col text-center">
    <Titulo title={{tit:"QUIENES SOMOS"}}/>
    <div class="flex lg:flex-row flex-col justify-between w-full lg:px-36 px-5 mt-12 mx-auto gap-7">
        <p class="lg:text-start text-center lg:text-lg text-base w-1/2 lg:pr-5 pr-2 mx-auto">
            En las colinas de la provincia de Buenos Aires, surgió en 2005 una pequeña empresa con un gran sueño: transformar la forma en que las industrias embalaban sus productos. Desde entonces, la historia de "EcoEmbalajes" ha sido una de innovación constante y colaboración cercana con sus clientes. <br> <br>
            Con el correr de los años, EcoEmbalajes se convirtió en un referente en el diseño y fabricación de soluciones de embalaje sostenible. Su compromiso con el medio ambiente se refleja en cada producto que sale de su planta de producción.
        </p>
        <p class="lg:text-start text-center lg:text-lg text-base w-1/2 lg:pl-5 pl-2 mb-24 mx-auto">
            Desde las empresas multinacionales hasta las más pequeñas PyMES, todas confían en EcoEmbalajes para satisfacer sus necesidades de embalaje. Ya sea para proteger alimentos frescos o productos electrónicos delicados, cada caja está diseñada a medida para garantizar la seguridad y la calidad. <br><br>
            Desde las colinas de la provincia de Buenos Aires hasta los rincones más lejanos del país, EcoEmbalajes continúa su misión de proporcionar embalajes de calidad que protejan tanto los productos como el planeta.

        </p>
    </div>
</div>

<!-- SEPARADOR 2 -->
<div style="overflow: hidden;">
    <svg
      preserveAspectRatio="none"
      viewBox="0 0 1200 120"
      xmlns="http://www.w3.org/2000/svg"
      style="fill: #339194; width: 125%; height: 100px; transform: rotate(180deg);"
    >
      <path d="M1200 120L0 16.48V0h1200v120z" />
    </svg>
  </div>


<!-- Importa el CSS de Swiper.js -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Importa el JS de Swiper.js y inicializa el slider -->
<script is:inline src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper (".swiper-container", {
    direction: "horizontal",
    loop: true,

    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    autoplay: {
        delay: 3000,
    },
    // Cambia el efecto de transición a "cube" o "coverflow"
    effect: 'slide',
    //slidesPerView: 1, // Muestra solo una diapositiva a la vez
    centeredSlides: true, // Centra el slider activo
});
</script>