---
import Productos1 from "../components/productos1.astro";
import Marcas from "../components/marcas.astro";
import Titulo from "../components/titulos.astro";
import Tarjetas from "../components/tarjetaProd.astro";


---


<div class="lg:w-1/3 w-2/3 mx-auto mt-8 text-center p-5">
    <h1 class="lg:text-4xl text-2xl font-semibold text-cyan-900">POTENCIAMOS TUS PRODUCTOS
        CON NUESTRAS CAJAS OFFSET</h1>
</div>
<div class="lg:w-1/2 w-2/3 mx-auto mt-8 text-center mb-10">
    <p class=" mt-5 lg:font-bold font-semibold lg:text-xl text-lg">
        Diseñamos cajas a medida para bodegas, frigoríficos, agroquímicos, electrodomésticos, entre otros.
    </p>
</div>


<div class="swiper-container lg:w-4/5 w-10/12 mx-auto overflow-hidden">
    <div class="swiper-wrapper">
        <div class="swiper-slide slide-1 slide-item img-1">
            <Productos1 post = {{
                img: "https://www.packbox.com.ar/images/Parasol-4-web-550x550.webp",
                tit:"Parasoles Publicitarios",
                desc: "Realizados en Cartón corrugado o microcorrugado con impresión de alta calidad. Medidas estándar, diseños doble faz, laminados."}}/>
        </div>
        <div class="swiper-slide slide-2 slide-item img-2">
            <Productos1 post = {{
                img: "https://www.packbox.com.ar/images/bib-3lts-bianchi-los-primos-800x800.webp",
                tit:"Estuches Bag in Box",
                desc: "Descubre nuestros Bag in Box de cartón microcorrugado de alta calidad. Almacena, transporta y dosifica vino, gin o aceites de oliva, con el mismo empaque. Terminaciones premium y diseño funcional."}}/>
        </div>
        <div class="swiper-slide slide-3 slide-item img-3">
            <Productos1 post = {{
                img: "https://www.packbox.com.ar/images/BIB-20LTS-BRAEM-FFO2-550x550.webp",
                tit:"Bag in Box para Químicos",
                desc: "Soluciones premium para agroquímicos: Estuches Bag in Box, cajas a medida para bidones y botellas. Impresión OFFSET para realzar tu marca y almacenaje óptimo para tu producto."}}/>
        </div>
        <div class="swiper-slide slide-4 slide-item img-4">
            <Productos1 post = {{
                img: "https://www.packbox.com.ar/images/frigorifico-devesa-tapa-550x550.webp",
                tit:"Cajas para Botellas Acostadas",
                desc: "Aumentá la calidad de sus presentaciones con estuches, tanto para mercado interno como para exportaciones. Alta resistencia a la humedad y a la estiba."}}/>
        </div>
    </div>
    <div class="swiper-pagination"></div>

</div>


<div class="w-3/5 mx-auto mb-5">
    <p class="text-center text-lg">
        Nuestros productos son la síntesis perfecta entre innovación, calidad y funcionalidad. Cada envase es cuidadosamente diseñado y fabricado con tecnologías avanzadas, asegurando una resistencia excepcional y un acabado estético impecable.
    </p>
</div>

<div class="flex flex-wrap lg:gap-10 max-w-full w-4/5 mx-auto my-10 items-center justify-center">
    <img src="https://www.packbox.com.ar/images/LAS-PERDICES-LOGO.webp" class="transition-transform duration-300 transform hover:scale-125 h-8" alt="">
    <Marcas logo={{img:"https://www.packbox.com.ar/images/ROWA-LOGO.webp"}}/>
    <Marcas logo={{img:"https://www.packbox.com.ar/images/FRIAR-LOGO.webp"}}/>
    <Marcas logo={{img:"https://www.packbox.com.ar/images/EPSON-LOGO.webp"}}/>
    <Marcas logo={{img:"https://www.packbox.com.ar/images/FEFCO-LOGO.webp"}}/>
    <Marcas logo={{img:"https://www.packbox.com.ar/images/KONGSBERG-LOGO.webp"}}/>
</div>

<div class="bg-white lg:py-20 py-5 flex flex-col text-center">
    <Titulo title={{tit:"QUIENES SOMOS"}}/>
    <div class="flex lg:flex-row flex-col justify-between w-full lg:px-36 px-5 mt-12 mx-auto gap-7">
        <p class="lg:text-start text-center lg:text-lg text-base w-1/2 lg:pr-5 pr-2 mx-auto">
            Packing Box es una empresa argentina fundada en 2005, especializada en el diseño y fabricación de envases de cartón corrugado para diversas industrias. Destacamos por el uso de tecnologías avanzadas y procesos innovadores. <br> <br>
            Colaboramos estrechamente con marcas líderes en el mercado y PyMES, ofreciendo soluciones personalizadas que se adaptan a las necesidades de cada cliente.
        </p>
        <p class="lg:text-start text-center lg:text-lg text-base w-1/2 lg:pl-5 pl-2 mb-24 mx-auto">
            Además, tenemos la flexibilidad de cumplir con los estándares internacionales más comunes de la industria según los requisitos del proyecto. <br><br>
            Nuestro equipo de desarrollo técnico está comprometido en ayudar a nuestros clientes a obtener envases de última generación, destacando por su calidad y acabado perfecto.
        </p>
    </div>
</div>


<!-- Importa el CSS de Swiper.js -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<!-- Importa el JS de Swiper.js y inicializa el slider -->
<script is:inline src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script is:inline>
  new Swiper (".swiper-container", {
    direction: "horizontal",
    loop: true,

    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    autoplay: {
        delay: 3000,
    },
    // Cambia el efecto de transición a "cube" o "coverflow"
    effect: 'slide',
    //slidesPerView: 1, // Muestra solo una diapositiva a la vez
    centeredSlides: true, // Centra el slider activo
});
</script>