<div class="w-full fondoHeader flex py-8">
    <div class="flex justify-center items-center text-center w-1/2">
        <h4 class="text-slate-200 font-bold text-3xl">Contacte con uno de nuestros representantes</h4>
    </div>
    <div class="flex justify-center items-center w-1/2">
        <button class="text-white text-2xl rounded-3xl border-2 border-white py-3 px-4 bg-blue-800 shadow-xl hover:bg-blue-600">Contáctenos!</button>        
    </div>
</div>

<style>
    .fondoHeader {
        background-color: #324362; 
    }

</style>